.Controls {
    position: absolute;
    background: rgba(0,0,0,.4);
    border-radius: 2em;
    padding: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    width: calc(100% - 4em);
    color: #fff;
    z-index: 10;
    display: none;
    align-items: center;
}